<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>my document</title>
    <link rel="stylesheet" href="static/styles/style.css">
    <link rel="stylesheet" href="static/styles/perfect-scrollbar.min.css">
    <link rel="stylesheet" title="Default" href="static/styles/default.css">
    <link rel="alternate stylesheet" title="Agate" href="static/styles/agate.css">
    <link rel="alternate stylesheet" title="Androidstudio" href="static/styles/androidstudio.css">
    <link rel="alternate stylesheet" title="Arduino Light" href="static/styles/arduino-light.css">
    <link rel="alternate stylesheet" title="Arta" href="static/styles/arta.css">
    <link rel="alternate stylesheet" title="Ascetic" href="static/styles/ascetic.css">
    <link rel="alternate stylesheet" title="Atelier Cave Dark" href="static/styles/atelier-cave-dark.css">
    <link rel="alternate stylesheet" title="Atelier Cave Light" href="static/styles/atelier-cave-light.css">
    <link rel="alternate stylesheet" title="Atelier Dune Dark" href="static/styles/atelier-dune-dark.css">
    <link rel="alternate stylesheet" title="Atelier Dune Light" href="static/styles/atelier-dune-light.css">
    <link rel="alternate stylesheet" title="Atelier Estuary Dark" href="static/styles/atelier-estuary-dark.css">
    <link rel="alternate stylesheet" title="Atelier Estuary Light" href="static/styles/atelier-estuary-light.css">
    <link rel="alternate stylesheet" title="Atelier Forest Dark" href="static/styles/atelier-forest-dark.css">
    <link rel="alternate stylesheet" title="Atelier Forest Light" href="static/styles/atelier-forest-light.css">
    <link rel="alternate stylesheet" title="Atelier Heath Dark" href="static/styles/atelier-heath-dark.css">
    <link rel="alternate stylesheet" title="Atelier Heath Light" href="static/styles/atelier-heath-light.css">
    <link rel="alternate stylesheet" title="Atelier Lakeside Dark" href="static/styles/atelier-lakeside-dark.css">
    <link rel="alternate stylesheet" title="Atelier Lakeside Light" href="static/styles/atelier-lakeside-light.css">
    <link rel="alternate stylesheet" title="Atelier Plateau Dark" href="static/styles/atelier-plateau-dark.css">
    <link rel="alternate stylesheet" title="Atelier Plateau Light" href="static/styles/atelier-plateau-light.css">
    <link rel="alternate stylesheet" title="Atelier Savanna Dark" href="static/styles/atelier-savanna-dark.css">
    <link rel="alternate stylesheet" title="Atelier Savanna Light" href="static/styles/atelier-savanna-light.css">
    <link rel="alternate stylesheet" title="Atelier Seaside Dark" href="static/styles/atelier-seaside-dark.css">
    <link rel="alternate stylesheet" title="Atelier Seaside Light" href="static/styles/atelier-seaside-light.css">
    <link rel="alternate stylesheet" title="Atelier Sulphurpool Dark" href="static/styles/atelier-sulphurpool-dark.css">
    <link rel="alternate stylesheet" title="Atelier Sulphurpool Light"
          href="static/styles/atelier-sulphurpool-light.css">
    <link rel="alternate stylesheet" title="Atom One Dark" href="static/styles/atom-one-dark.css">
    <link rel="alternate stylesheet" title="Atom One Light" href="static/styles/atom-one-light.css">
    <link rel="alternate stylesheet" title="Brown Paper" href="static/styles/brown-paper.css">
    <link rel="alternate stylesheet" title="Codepen Embed" href="static/styles/codepen-embed.css">
    <link rel="alternate stylesheet" title="Color Brewer" href="static/styles/color-brewer.css">
    <link rel="alternate stylesheet" title="Darcula" href="static/styles/darcula.css">
    <link rel="alternate stylesheet" title="Dark" href="static/styles/dark.css">
    <link rel="alternate stylesheet" title="Darkula" href="static/styles/darkula.css">
    <link rel="alternate stylesheet" title="Docco" href="static/styles/docco.css">
    <link rel="alternate stylesheet" title="Dracula" href="static/styles/dracula.css">
    <link rel="alternate stylesheet" title="Far" href="static/styles/far.css">
    <link rel="alternate stylesheet" title="Foundation" href="static/styles/foundation.css">
    <link rel="alternate stylesheet" title="Github Gist" href="static/styles/github-gist.css">
    <link rel="alternate stylesheet" title="Github" href="static/styles/github.css">
    <link rel="alternate stylesheet" title="Googlecode" href="static/styles/googlecode.css">
    <link rel="alternate stylesheet" title="Grayscale" href="static/styles/grayscale.css">
    <link rel="alternate stylesheet" title="Gruvbox Dark" href="static/styles/gruvbox-dark.css">
    <link rel="alternate stylesheet" title="Gruvbox Light" href="static/styles/gruvbox-light.css">
    <link rel="alternate stylesheet" title="Hopscotch" href="static/styles/hopscotch.css">
    <link rel="alternate stylesheet" title="Hybrid" href="static/styles/hybrid.css">
    <link rel="alternate stylesheet" title="Idea" href="static/styles/idea.css">
    <link rel="alternate stylesheet" title="Ir Black" href="static/styles/ir-black.css">
    <link rel="alternate stylesheet" title="Kimbie Dark" href="static/styles/kimbie.dark.css">
    <link rel="alternate stylesheet" title="Kimbie Light" href="static/styles/kimbie.light.css">
    <link rel="alternate stylesheet" title="Magula" href="static/styles/magula.css">
    <link rel="alternate stylesheet" title="Mono Blue" href="static/styles/mono-blue.css">
    <link rel="alternate stylesheet" title="Monokai Sublime" href="static/styles/monokai-sublime.css">
    <link rel="alternate stylesheet" title="Monokai" href="static/styles/monokai.css">
    <link rel="alternate stylesheet" title="Obsidian" href="static/styles/obsidian.css">
    <link rel="alternate stylesheet" title="Ocean" href="static/styles/ocean.css">
    <link rel="alternate stylesheet" title="Paraiso Dark" href="static/styles/paraiso-dark.css">
    <link rel="alternate stylesheet" title="Paraiso Light" href="static/styles/paraiso-light.css">
    <link rel="alternate stylesheet" title="Pojoaque" href="static/styles/pojoaque.css">
    <link rel="alternate stylesheet" title="Purebasic" href="static/styles/purebasic.css">
    <link rel="alternate stylesheet" title="Qtcreator Dark" href="static/styles/qtcreator_dark.css">
    <link rel="alternate stylesheet" title="Qtcreator Light" href="static/styles/qtcreator_light.css">
    <link rel="alternate stylesheet" title="Railscasts" href="static/styles/railscasts.css">
    <link rel="alternate stylesheet" title="Rainbow" href="static/styles/rainbow.css">
    <link rel="alternate stylesheet" title="Routeros" href="static/styles/routeros.css">
    <link rel="alternate stylesheet" title="School Book" href="static/styles/school-book.css">
    <link rel="alternate stylesheet" title="Solarized Dark" href="static/styles/solarized-dark.css">
    <link rel="alternate stylesheet" title="Solarized Light" href="static/styles/solarized-light.css">
    <link rel="alternate stylesheet" title="Sunburst" href="static/styles/sunburst.css">
    <link rel="alternate stylesheet" title="Tomorrow Night Blue" href="static/styles/tomorrow-night-blue.css">
    <link rel="alternate stylesheet" title="Tomorrow Night Bright" href="static/styles/tomorrow-night-bright.css">
    <link rel="alternate stylesheet" title="Tomorrow Night Eighties" href="static/styles/tomorrow-night-eighties.css">
    <link rel="alternate stylesheet" title="Tomorrow Night" href="static/styles/tomorrow-night.css">
    <link rel="alternate stylesheet" title="Tomorrow" href="static/styles/tomorrow.css">
    <link rel="alternate stylesheet" title="Vs" href="static/styles/vs.css">
    <link rel="alternate stylesheet" title="Vs 2015" href="static/styles/vs2015.css">
    <link rel="alternate stylesheet" title="Xcode" href="static/styles/xcode.css">
    <link rel="alternate stylesheet" title="Xt 256" href="static/styles/xt256.css">
    <link rel="alternate stylesheet" title="Zenburn" href="static/styles/zenburn.css">
</head>
<body>
<div id="sidebar">
    <div id="header">
        <h1>ActivedRouter Doc</h1>
    </div>
    <div id="lists">
        <div>
            <h2>Language categories</h2>
            <ul id="categories"></ul>
        </div>

        <div>
            <h2>Styles</h2>
            <ul id="styles"></ul>
        </div>
    </div>
</div>

<div id="content">
    <div id="languages">
        <div>
            <h2>test</h2>
            <pre>
                <code class="php">function testBefore(&lt;Test&gt; a, var b = 5, int c = 10)
                    {
                        a-&gt;method1();
                        return b + c;
                    }
                    namespace Test;
                    use RuntimeException as RE;
                    /**
                     * Example comment
                     */
                    class Test extends CustomClass implements TestInterface
                    {
                        const C1 = null;
                        // Magic constant: http://php.net/manual/ru/language.constants.predefined.php
                        const className = __CLASS__;
                        public function method1()
                        {
                            int a = 1, b = 2;
                            return a + b;
                        }
                        // See fn is allowed like shortcut
                        public fn method2() -&gt; &lt;Test&gt;
                        {
                            call_user_func(function() { echo &quot;hello&quot;; });
                            [1, 2, 3, 4, 5]-&gt;walk(
                                function(int! x) {
                                    return x * x;
                                }
                            );
                            [1, 2, 3, 4, 5]-&gt;walk(
                                function(_, int key) { echo key; }
                            );
                            array input = [1, 2, 3, 4, 5];

                            input-&gt;walk(
                                function(_, int key) { echo key; }
                            );
                            input-&gt;map(x =&gt; x * x);
                            return this;
                        }
                    }
                </code>
            </pre>
        </div>
    </div>
</div>

<script src="static/scripts/highlight.pack.js"></script>
<script src="static/scripts/jquery-2.1.1.min.js"></script>
<script src="static/scripts/perfect-scrollbar.min.js"></script>
<script src="static/scripts/demo.js"></script>
</body>
</html>
